.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(197, 209, 255);
    padding: 20px;
    border-radius: 4px;
}

h1 {
    font-family: "Avenir", sans-serif;
    text-transform: uppercase;
    color: rgb(87, 0, 118);
    text-align: center;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    background-color: white;
}

td {
    cursor: pointer;
    border: 4px solid rgb(87, 0, 118);
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
    background-repeat: no-repeat;
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    margin: 0 auto;
}