form {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Avenir";
}

h1 {
    font-size: 50px;
    margin-top: -10px;
}

input {
    margin: 5px;
    padding: 5px 10px;
}

input[type=submit] {
    width: 50%;
    margin: 5px auto;
}